

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    line-height: 1.5rem;
    font-family: 'Shadows Into Light Two', cursive;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 20px;
}

.button {
    padding: 5px 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
    font-size: 1.2rem;
    font-family: 'Shadows Into Light Two', cursive;
}

.header-wrapper {
    background-color: sandybrown;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    font-size: 1.5rem;
}

.main {
    text-align: center;
}

.disabled-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.info-box {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: salmon;
    border-radius: 5px;
    text-align: center;
}

.how-to-play-box {
    display: none;
}

.hang-man-visual {
    height: 50px;
    overflow: hidden;
}

.word-generate-btn {
    margin: 10px 0;
}

.letters-to-guess {
    padding: 10px 0;
}

.letter-to-guess {
    display: inline-block;
    padding: 0 5px;
    font-size: 1.5rem;
}

.alphabet {
    margin: 10px 0;
}

.letter {
    display: inline-block;
    box-sizing: border-box;
    width: 40px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: sandybrown;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
}

.result-box {
    display: none;
}

.score-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.won-box, .fail-box {
    display: flex;
    flex-direction: row;
}

.won-box {
    margin-right: 5px;
}

.score-icon {
    margin-left: 5px;
}

.footer-wrapper {
    background-color: sandybrown;
}

.sign {
    font-size: 1rem;
    text-align: right;
    padding: 10px 20px;
}