:root {
    --main-color: sandybrown;
    --secondary-color: #eaeaea;
    --disabled-color: #f5bc8c;
    --horizontal-gap: 20px;
    --vertical-gap: 10px;
}

@media (min-width: 1024px) {
    :root {
        --vertical-gap: 20px;
    }
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    line-height: 1.5rem;
    font-family: 'Shadows Into Light Two', cursive;
    user-select: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--vertical-gap) var(--horizontal-gap);
}

.btn {
    padding: 5px 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
    font-size: 1.2rem;
    font-family: 'Shadows Into Light Two', cursive;
    cursor: pointer;
}

.secondary-btn {
    background-color: var(--main-color);
}

.btn:disabled, .secondary-btn:disabled {
    background-color: var(--disabled-color);
}

.header-wrapper {
    background-color: var(--main-color);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    font-size: 1.5rem;
}

.main {
    text-align: center;
    padding: var(--vertical-gap) var(--horizontal-gap);
}

.disabled-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.55);
}

.info-box {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: var(--horizontal-gap);
    background-color: white;
    border: 6px solid var(--main-color);
    border-radius: 5px;
    text-align: center;
}

@media (min-width: 1024px) {
    .info-box {
        width: 50%;
    }
}

.info-box-title {
    font-weight: bold;
    font-size: 1.2rem;
}

.info-box-text {
    padding: var(--horizontal-gap) 0;
}

.how-to-play-box {
    display: none;
}

.levels {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: var(--vertical-gap) 0;
}

.level-box {
    flex-shrink: 0;
}

.level-title {
    font-size: 1.1rem;
    margin-right: var(--horizontal-gap);
}

.level-btn {
    margin: var(--vertical-gap);
}

@media (min-width: 840px) {
    .levels {
        flex-direction: column;
        justify-content: center;
    }

    .level-title {
        margin-bottom: var(--vertical-gap);
        margin-right: 0;
        font-size: 1.4rem;
    }
}

.hang-man-visual {
    height: 125px;
    margin: var(--vertical-gap) 0;
}

.hang-man-element {
    max-height: 100%;
}

.word-generate-btn {
    margin: var(--vertical-gap) 0;
}

.letters-to-guess {
    padding: var(--vertical-gap) 0;
}

.letter-to-guess {
    display: inline-block;
    padding: 0 5px;
    font-size: 1.5rem;
}

.alphabet {
    margin: var(--vertical-gap) auto;
}

@media (min-width: 1024px) {
    .alphabet {
        max-width: 75%;
    }
}

.letter {
    width: 35px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: var(--main-color);
    box-shadow: none;
    text-align: center;
    cursor: pointer;
}

.result-box {
    display: none;
}

.result-icon {
    font-size: 2.3rem;
}

.score-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--vertical-gap) 0;
}

.score-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.won-box, .fail-box {
    display: flex;
    flex-direction: column;
}

.won-box {
    margin-right: 5px;
}

.fail-box {
    margin-left: 5px;
}

.score-icon {
    display: none;
}

.score-summary {
    background: var(--secondary-color);
    margin-top: var(--vertical-gap);
    padding: var(--vertical-gap) var(--horizontal-gap);
    width: 100%;
    font-weight: bold;
}

@media (min-width: 480px) {
    .score-wrapper {
        width: 440px;
        margin: 0 auto;
    }
    .score-icon {
        display: block;
        margin-right: 10px;
    }
    .won-box, .fail-box {
        flex-direction: row;
    }
    .score-summary {
        padding: 10px;
        font-size: 1.3rem;
    }
}

.footer-wrapper {
    background-color: var(--main-color);
}

.sign {
    font-size: 1rem;
    text-align: right;
    padding: var(--vertical-gap) var(--horizontal-gap);
}